form {
  display: flex;
  flex-direction: column;

  .two-column-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    mat-form-field {
      margin: 0;
    }

    .full-width {
      grid-column: 1 / -1;
    }
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }

  .mat-dialog-content {
    max-height: 500px;
    overflow-y: auto;
  }

  .mat-dialog-actions {
    justify-content: flex-end;
  }
}
