<app-base-list 
  #baseList
  [title]="'inventory.title' | translate"
  [placeholder]="'inventory.search_placeholder' | translate"
  [loading]="loading"
  [totalElements]="totalElements"
  [pageSize]="pageSize"
  (search)="onSearch($event)"
  (add)="onAdd()"
  (page)="onPageChange($event)">

  <mat-table [dataSource]="dataSource" class="mat-elevation-z1">
    <!-- Product Name Column -->
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef>{{ 'inventory.product' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.productName }}</mat-cell>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>{{ 'inventory.quantity' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.quantity }}</mat-cell>
    </ng-container>

    <!-- Purchase Contract Column -->
    <ng-container matColumnDef="purchaseContractNo">
      <mat-header-cell *matHeaderCellDef>{{ 'inventory.purchase_contract' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.purchaseContractNo }}</mat-cell>
    </ng-container>

    <!-- Storage Time Column -->
    <ng-container matColumnDef="storageTime">
      <mat-header-cell *matHeaderCellDef>{{ 'inventory.storage_time' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.storageTime }}</mat-cell>
    </ng-container>

    <!-- License Column -->
    <ng-container matColumnDef="license">
      <mat-header-cell *matHeaderCellDef>{{ 'inventory.license' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.license }}</mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>{{ 'inventory.status_title' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ 'enum.inventory.status.' + row.status | translate }}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>{{ 'common.actions' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngIf="getInventoryActions(row).length <= 3; else menuActions">
          <ng-container *ngFor="let action of getInventoryActions(row)">
            <button mat-icon-button color="primary"
                    (click)="performInventoryAction(action, row)"
                    [matTooltip]="action | translate">
              <mat-icon>{{ getActionIcon(action) }}</mat-icon>
            </button>
          </ng-container>
        </ng-container>
        
        <ng-template #menuActions>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let action of getInventoryActions(row)">
              <button mat-menu-item (click)="performInventoryAction(action, row)">
                <mat-icon>{{ getActionIcon(action) }}</mat-icon>
                <span>{{ action | translate }}</span>
              </button>
            </ng-container>
          </mat-menu>
        </ng-template>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</app-base-list>
