<app-base-list
  [title]="'reimbursement.title' | translate"
  [placeholder]="'reimbursement.search.placeholder' | translate"
  [loading]="loading"
  [pageSize]="pageSize"
  [totalElements]="totalElements"
  (search)="onSearch($event)"
  (add)="onAdd()"
  (page)="onPageChange($event)"
>
  <table mat-table [dataSource]="reimbursements" class="mat-elevation-z2">
    <!-- Reimbursement No Column -->
    <ng-container matColumnDef="reimbursementNo">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'reimbursement.field.reimbursementNo' | translate }}
      </th>
      <td mat-cell *matCellDef="let item">{{ item.reimbursementNo }}</td>
    </ng-container>

    <!-- Application Date Column -->
    <ng-container matColumnDef="applicationDate">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'reimbursement.field.applicationDate' | translate }}
      </th>
      <td mat-cell *matCellDef="let item">{{ item.applicationDate | date }}</td>
    </ng-container>

    <!-- Applicant Column -->
    <ng-container matColumnDef="applicant">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.applicant' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.applicant?.name }}</td>
    </ng-container>

    <!-- Project Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.project' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.project?.name }}</td>
    </ng-container>

    <!-- Total Amount Column -->
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.totalAmount' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.totalAmount | currency : 'CNY' }}</td>
    </ng-container>

    <!-- Approval Date Column -->
    <ng-container matColumnDef="approvalDate">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'reimbursement.field.approvalDate' | translate }}
      </th>
      <td mat-cell *matCellDef="let item">{{ item.approvalDate | date }}</td>
    </ng-container>

    <!-- Approver Column -->
    <ng-container matColumnDef="approver">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.approver' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.approver?.name }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <app-action [canView]="false" (edit)="onEdit(item)" (delete)="onDelete(item)"> </app-action>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</app-base-list>
