<ng-container *ngIf="!isLoginPage">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>{{ isMenuCollapsed ? 'menu' : 'menu_open' }}</mat-icon>
    </button>
    <span>{{ 'app.title' | translate }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <button mat-menu-item (click)="switchLanguage('zh')">
        <span>中文</span>
      </button>
      <button mat-menu-item (click)="switchLanguage('en')">
        <span>English</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'app.menu.logout' | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened [class.collapsed]="isMenuCollapsed" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle *ngIf="!isMenuCollapsed">{{ 'app.menu.dashboard' | translate }}</span>
        </a>
        <a mat-list-item routerLink="/employees" routerLinkActive="active">
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle *ngIf="!isMenuCollapsed">{{ 'app.menu.employees' | translate }}</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/departments" routerLinkActive="active">
          <mat-icon matListItemIcon>business</mat-icon>
          <span matListItemTitle *ngIf="!isMenuCollapsed">{{ 'app.menu.departments' | translate }}</span>
        </a>
        <a mat-list-item routerLink="/positions" routerLinkActive="active">
          <mat-icon matListItemIcon>work</mat-icon>
          <span matListItemTitle *ngIf="!isMenuCollapsed">{{ 'app.menu.positions' | translate }}</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/attendance" routerLinkActive="active">
          <mat-icon matListItemIcon>event_note</mat-icon>
          <span matListItemTitle *ngIf="!isMenuCollapsed">{{ 'app.menu.attendance' | translate }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-container *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</ng-container>
