.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 100px;
  text-align: center;
}
