<mat-form-field appearance="fill">
  <mat-label>{{ label | translate }}</mat-label>
  <input type="text" matInput [formControl]="employeeCtrl" [matAutocomplete]="auto" />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <ng-template #optionTemplate let-employee>
      <div class="employee-option">
        <div class="employee-name">{{ employee.name }}</div>
        <div class="employee-details">
          <span *ngIf="employee.employeeNo">({{ employee.employeeNo }})</span>
          <span *ngIf="employee.department">{{ employee.department.name }}</span>
        </div>
      </div>
    </ng-template>
    <mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee">
      <ng-container
        *ngTemplateOutlet="optionTemplate; context: { $implicit: employee }"
      ></ng-container>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
