<div class="base-list-container">
  <!-- Function Area -->
  <div class="function-area">
    <div class="left-section">
      <h2 class="title">{{ title | translate }}</h2>
    </div>
    <div class="right-section">
      <div class="search-box">
        <input 
          type="text" 
          [(ngModel)]="searchText"
          [placeholder]="placeholder | translate"
          (keyup.enter)="onSearch()"
        >
        <button class="search-button" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <button class="add-button" (click)="onAdd()">
        <mat-icon>add</mat-icon>
        {{ 'common.action.add' | translate }}
      </button>
    </div>
  </div>

  <!-- Content Area -->
  <div class="content-area">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <ng-content></ng-content>

    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>

  </div>
</div>
