<div class="job-history-list">
  <div class="job-history-header">
    <h3>{{ 'employee.jobHistory.title' | translate }}</h3>
    <button mat-raised-button color="primary" (click)="onAddJobHistory()" *ngIf="editMode">
      {{ 'employee.jobHistory.button.add' | translate }}
    </button>
  </div>

  <table mat-table [dataSource]="jobHistories" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>{{ 'employee.jobHistory.position' | translate }}</th>
      <td mat-cell *matCellDef="let jobHistory">{{ jobHistory.position }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>{{ 'employee.jobHistory.department' | translate }}</th>
      <td mat-cell *matCellDef="let jobHistory">{{ jobHistory.department }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'employee.jobHistory.startDate' | translate }}</th>
      <td mat-cell *matCellDef="let jobHistory">{{ jobHistory.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'employee.jobHistory.endDate' | translate }}</th>
      <td mat-cell *matCellDef="let jobHistory">{{ jobHistory.endDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'common.actions' | translate }}</th>
      <td mat-cell *matCellDef="let jobHistory">
        <button mat-icon-button (click)="onEditJobHistory(jobHistory)" *ngIf="editMode">
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="onDeleteJobHistory(jobHistory)"
          *ngIf="editMode"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
