<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ (isEdit ? 'invoice.edit' : 'invoice.add') | translate }}</h2>

  <mat-dialog-content>
    <div class="dialog-content">
      <!-- Tax Info -->
      <div class="row">
        <mat-form-field class="col">
          <mat-label>{{ 'invoice.buyer' | translate }}</mat-label>
          <input matInput formControlName="buyerName" [value]="buyerTaxInfo?.fullName" readonly />
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.seller' | translate }}</mat-label>
          <input matInput formControlName="sellerName" [value]="sellerTaxInfo?.fullName" readonly />
        </mat-form-field>
      </div>

      <!-- Basic Info -->
      <div class="row">
        <mat-form-field class="col">
          <mat-label>{{ 'invoice.no' | translate }}</mat-label>
          <input matInput formControlName="invoiceNo" />
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.type' | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of invoiceTypes" [value]="type">
              {{ 'invoice.type.' + type | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.date' | translate }}</mat-label>
          <input matInput [matDatepicker]="invoiceDatePicker" formControlName="invoiceDate" />
          <mat-datepicker-toggle matSuffix [for]="invoiceDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #invoiceDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Amount Info -->
      <div class="row">
        <mat-form-field class="col">
          <mat-label>{{ 'invoice.amount' | translate }}</mat-label>
          <input matInput type="number" formControlName="amount" (blur)="calculateTaxAmount()" />
          <span matSuffix>{{ data.currency?.code }}</span>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.tax_rate' | translate }}</mat-label>
          <input matInput type="number" formControlName="taxRate" (blur)="calculateTaxAmount()" />
          <span matSuffix>%</span>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.tax_amount' | translate }}</mat-label>
          <input matInput type="number" formControlName="taxAmount" />
          <span matSuffix>{{ data.currency?.code }}</span>
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.total_amount' | translate }}</mat-label>
          <input matInput type="number" formControlName="totalAmount" />
          <span matSuffix>{{ data.currency?.code }}</span>
        </mat-form-field>
      </div>

      <!-- Additional Info -->
      <div class="row">
        <mat-form-field class="col">
          <mat-label>{{ 'invoice.batch_no' | translate }}</mat-label>
          <input matInput formControlName="batchNo" />
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.verification_code' | translate }}</mat-label>
          <input matInput formControlName="verificationCode" />
        </mat-form-field>

        <mat-form-field class="col">
          <mat-label>{{ 'invoice.machine_code' | translate }}</mat-label>
          <input matInput formControlName="machineCode" />
        </mat-form-field>
      </div>

      <!-- Cancel Info -->
      <div class="row" *ngIf="isEdit">
        <mat-checkbox formControlName="cancelled" class="col">
          {{ 'invoice.cancelled' | translate }}
        </mat-checkbox>

        <mat-form-field class="col" *ngIf="form.get('cancelled')?.value">
          <mat-label>{{ 'invoice.cancel_date' | translate }}</mat-label>
          <input matInput [matDatepicker]="cancelDatePicker" formControlName="cancelDate" />
          <mat-datepicker-toggle matSuffix [for]="cancelDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #cancelDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Remarks -->
      <div class="row">
        <mat-form-field class="col">
          <mat-label>{{ 'common.remarks' | translate }}</mat-label>
          <textarea matInput formControlName="remarks" rows="3"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{ 'common.action.cancel' | translate }}</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
      {{ 'common.action.save' | translate }}
    </button>
  </mat-dialog-actions>
</form>
