.dialog-content {
  min-width: 600px;
  padding: 16px;

  .row {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

    .col {
      flex: 1;
    }
  }

  mat-form-field {
    width: 100%;
  }
}