<app-base-list
  [title]="'公司管理'"
  [placeholder]="'搜索公司...'"
  [loading]="loading"
  [pageSize]="pageSize"
  [totalElements]="totalElements"
  (search)="onSearch($event)"
  (add)="onAdd()"
  (page)="onPageChange($event)"
>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 w-full">
    <!-- 公司全称 -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>公司全称</th>
      <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
    </ng-container>

    <!-- 公司简称 -->
    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef>公司简称</th>
      <td mat-cell *matCellDef="let element">{{ element.shortName }}</td>
    </ng-container>

    <!-- 地址 -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>地址</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- 电话 -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>电话</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <!-- 邮箱 -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>邮箱</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Company Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>公司类型</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <!-- 状态 -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>状态</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle
          [checked]="element.active"
          (change)="onToggleStatus(element)"
          color="primary"
        >
        </mat-slide-toggle>
      </td>
    </ng-container>

    <!-- 操作 -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>操作</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
            <span>编辑</span>
          </button>
          <button mat-menu-item (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
            <span>删除</span>
          </button>
          <button
            mat-menu-item
            *ngIf="element.type !== 'PRIMARY' && element.active"
            matTooltip="设为主公司"
            color="primary"
            (click)="onSetPrimary(element)"
          >
            <mat-icon>star</mat-icon>
            <span>设为主公司</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</app-base-list>
