<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="full-width-form">
  <h2 mat-dialog-title>{{ 'changePassword.title' | translate }}</h2>
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'changePassword.currentPassword' | translate }}</mat-label>
      <input matInput type="password" formControlName="currentPassword" required>
      <mat-error *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')">
        {{ 'changePassword.validations.currentPasswordRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'changePassword.newPassword' | translate }}</mat-label>
      <input matInput type="password" formControlName="newPassword" required>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        {{ 'changePassword.validations.newPasswordRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
        {{ 'changePassword.validations.newPasswordMinLength' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'changePassword.confirmPassword' | translate }}</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
        {{ 'changePassword.validations.confirmPasswordRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
        {{ 'changePassword.validations.passwordMismatch' | translate }}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{ 'changePassword.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
      {{ 'changePassword.submit' | translate }}
    </button>
  </mat-dialog-actions>
</form>
