<app-base-list
  [title]="'reimbursement.title'"
  [placeholder]="'reimbursement.search.placeholder'"
  [loading]="loading"
  [pageSize]="pageSize"
  [totalElements]="totalElements"
  (search)="onSearch($event)"
  (add)="onAdd()"
  (page)="onPageChange($event)">

  <table mat-table [dataSource]="reimbursements" class="mat-elevation-z2">
    <!-- Reimbursement No Column -->
    <ng-container matColumnDef="reimbursementNo">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.no' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.reimbursementNo }}</td>
    </ng-container>

    <!-- Application Date Column -->
    <ng-container matColumnDef="applicationDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.applicationDate' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.applicationDate | date }}</td>
    </ng-container>

    <!-- Applicant Column -->
    <ng-container matColumnDef="applicant">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.applicant' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.applicant?.name }}</td>
    </ng-container>

    <!-- Project Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.project' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.project?.name }}</td>
    </ng-container>

    <!-- Total Amount Column -->
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.totalAmount' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.totalAmount | currency:'CNY' }}</td>
    </ng-container>

    <!-- Approval Date Column -->
    <ng-container matColumnDef="approvalDate">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.approvalDate' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.approvalDate | date }}</td>
    </ng-container>

    <!-- Approver Column -->
    <ng-container matColumnDef="approver">
      <th mat-header-cell *matHeaderCellDef>{{ 'reimbursement.field.approver' | translate }}</th>
      <td mat-cell *matCellDef="let item">{{ item.approver?.name }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'common.field.actions' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(item)">
            <mat-icon>edit</mat-icon>
            <span>{{ 'common.action.edit' | translate }}</span>
          </button>
          <button mat-menu-item (click)="onDelete(item)">
            <mat-icon>delete</mat-icon>
            <span>{{ 'common.action.delete' | translate }}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</app-base-list>
