.mat-column-isActive {
  width: 100px;
  text-align: center;
}

.mat-column-actions {
  width: 80px;
  text-align: center;
}

.mat-column-level {
  width: 100px;
}

.mat-column-code {
  width: 120px;
}
