<mat-form-field appearance="outline" class="w-100">
  <mat-label>{{ label | translate }}</mat-label>
  <input type="text"
         matInput
         [formControl]="contractCtrl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <ng-template #optionTemplate let-contract>
      <div class="contract-option">
        <div class="contract-no">{{ contract.contractNo }}</div>
        <div class="contract-details">
          <span *ngIf="contract.name">{{ contract.name }}</span>
          <span *ngIf="contract.company">({{ contract.company.fullName }})</span>
        </div>
      </div>
    </ng-template>
    <mat-option *ngFor="let contract of filteredContracts | async" [value]="contract">
      <ng-container *ngTemplateOutlet="optionTemplate; context: { contract: contract }"></ng-container>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
